openapi: 3.0.0
info:
  title: Lab Nocturne Images API
  description: |
    Simple, curl-first image storage API for AI-generated images.

    Perfect for ChatGPT to:
    - Upload matplotlib charts, plots, and diagrams
    - Store generated images temporarily (test keys: 7 days)
    - Get instant CDN URLs for sharing

    **Quick Start:**
    1. Generate a test API key (no signup required)
    2. Upload your image
    3. Get back a CDN URL instantly

    **Limits:**
    - Test keys: 10MB max, 7-day retention
    - Live keys: 100MB max, permanent storage
  version: 1.0.0
  contact:
    name: Lab Nocturne Support
    url: https://images.labnocturne.com
servers:
  - url: https://images.labnocturne.com
    description: Production API

paths:
  /key:
    get:
      operationId: generateTestKey
      summary: Generate a test API key
      description: |
        Generate a test API key without signup. Test keys have:
        - 10MB file size limit
        - 7-day file retention
        - Perfect for development and testing

        Call this first to get an API key, then use it for uploads.
      responses:
        '200':
          description: Test API key generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    description: Your test API key (starts with ln_test_)
                    example: ln_test_01jcd8x9k2n3p4q5r6s7t8u9v0w1x2y3z4
                  type:
                    type: string
                    enum: [test]
                    description: Key type
                  quota:
                    type: object
                    properties:
                      max_file_size_mb:
                        type: integer
                        example: 10
                      retention_days:
                        type: integer
                        example: 7
                  created_at:
                    type: string
                    format: date-time
              example:
                api_key: ln_test_01jcd8x9k2n3p4q5r6s7t8u9v0w1x2y3z4
                type: test
                quota:
                  max_file_size_mb: 10
                  retention_days: 7
                created_at: "2025-12-13T12:00:00Z"

  /upload:
    post:
      operationId: uploadImage
      summary: Upload an image file
      description: |
        Upload an image to Lab Nocturne CDN. Returns a CloudFront CDN URL instantly.

        **Supported formats:** JPEG, PNG, GIF, WebP
        **Max size:** 10MB (test keys), 100MB (live keys)

        **Perfect for:**
        - Matplotlib charts and plots
        - Generated diagrams
        - AI-created images
        - Data visualizations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The image file to upload
      responses:
        '200':
          description: Image uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique image ID
                    example: img_01jcd8x9k2n3p4q5r6s7t8u9v0w1x2y3z4
                  url:
                    type: string
                    format: uri
                    description: CDN URL of the uploaded image (use this in HTML/Markdown)
                    example: https://cdn.labnocturne.com/i/01jcd8x9k2n3p4q5r6s7t8u9v0w1x2y3z4.jpg
                  size:
                    type: integer
                    description: File size in bytes
                    example: 245678
                  mime_type:
                    type: string
                    description: MIME type of the image
                    example: image/jpeg
                  created_at:
                    type: string
                    format: date-time
              example:
                id: img_01jcd8x9k2n3p4q5r6s7t8u9v0w1x2y3z4
                url: https://cdn.labnocturne.com/i/01jcd8x9k2n3p4q5r6s7t8u9v0w1x2y3z4.jpg
                size: 245678
                mime_type: image/jpeg
                created_at: "2025-12-13T12:00:00Z"
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /files:
    get:
      operationId: listFiles
      summary: List uploaded files
      description: List all files uploaded with pagination support
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Files per page
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          description: Sort order
          schema:
            type: string
            enum: [created_desc, created_asc, size_desc, size_asc]
            default: created_desc
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        url:
                          type: string
                        size:
                          type: integer
                        mime_type:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer

  /stats:
    get:
      operationId: getStats
      summary: Get usage statistics
      description: Get storage usage and quota information
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  storage_used_bytes:
                    type: integer
                  storage_used_mb:
                    type: number
                  file_count:
                    type: integer
                  quota_bytes:
                    type: integer
                  quota_mb:
                    type: number
                  usage_percent:
                    type: number

  /i/{imageId}:
    delete:
      operationId: deleteImage
      summary: Delete an image
      description: Soft delete an image (can be recovered for a period)
      security:
        - BearerAuth: []
      parameters:
        - name: imageId
          in: path
          required: true
          description: The image ID to delete
          schema:
            type: string
      responses:
        '200':
          description: Image deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  id:
                    type: string

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        Use your API key as a Bearer token.

        **How to get an API key:**
        1. Call the /key endpoint to generate a test key (no signup)
        2. Use the returned api_key value

        **Example:**
        Authorization: Bearer ln_test_01jcd8x9k2n3p4q5r6s7t8u9v0w1x2y3z4

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message
            type:
              type: string
              description: Error type
            code:
              type: string
              description: Machine-readable error code
