package templates

import (
	"github.com/jjenkins/labnocturne/flex/internal/templates/layouts"
)

templ Home() {
	@layouts.Base("Home") {
		<div class="flex items-center justify-center min-h-[80vh]">
			<h1 class="text-6xl font-bold text-aswad">flex</h1>
		</div>
	}
}
